# classification of people

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("data for bi.csv")

In [3]:
df.head()

,Unique_ID,Gender,Age,Enough_Medicines,CD4_Count,CD4_Count_Num,VL_Count,VL_Count_Num,Fallen_Sick,TB_symptoms,TB_positive,Livelihood_Training_Program,Share_About_Yourself,Kind_Of_Support,Disclosing_Sharing_Status,Understanding_Life_Choices,Qualities_For_PE,Focus_For_Independent_And_Sustainable_Life,PE_Help_Future
0,SCT2023001,Male,17,Yes,Yes,Above 550,Yes,Target not detected (TND),No,Cough,No,No,Not to anyone,Somebody to share about our concerns.,We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...",They need to be friendly,Training programs that help to be healthy,I am confident that I can live a healthy life.
1,SCT2023002,Male,17,Yes,Yes,450 to 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,No,Not to anyone,"Friends, who help us",We get help to be healthy and sustainable,"Yes, but I need more support, I think we need ...","I want them, to help us address our issues to ...",A Job without discrimination,I am confident that I can live a healthy life.
2,SCT2023003,Male,17,Yes,Yes,Above 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,Yes,Not to anyone,"Friends, who help us",We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...",They need to be friendly,Training programs that help to be healthy,I am not worried about HIV.
3,SCT2023004,Male,17,Yes,Yes,450 to 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,Yes,Not to anyone,Somebody to share about our concerns.,We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...","I want them, to help us address our issues to ...",Training programs that help to be healthy,I am not worried about HIV.
4,SCT2023005,Female,17,Yes,Yes,450 to 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,Yes,Not to anyone,"Friends, who help us",We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...",They need to be friendly,Training programs that help to be healthy,I am confident that I can live a healthy life.

In [4]:
df['Text'] = df.apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [5]:
df.columns

Index(['Unique_ID', 'Gender', 'Age', 'Enough_Medicines', 'CD4_Count',
       'CD4_Count_Num', 'VL_Count', 'VL_Count_Num', 'Fallen_Sick',
       'TB_symptoms', 'TB_positive', 'Livelihood_Training_Program',
       'Share_About_Yourself', 'Kind_Of_Support', 'Disclosing_Sharing_Status',
       'Understanding_Life_Choices', 'Qualities_For_PE',
       'Focus_For_Independent_And_Sustainable_Life', 'PE_Help_Future', 'Text'],
      dtype='object')

In [6]:
df.head()

,Unique_ID,Gender,Age,Enough_Medicines,CD4_Count,CD4_Count_Num,VL_Count,VL_Count_Num,Fallen_Sick,TB_symptoms,TB_positive,Livelihood_Training_Program,Share_About_Yourself,Kind_Of_Support,Disclosing_Sharing_Status,Understanding_Life_Choices,Qualities_For_PE,Focus_For_Independent_And_Sustainable_Life,PE_Help_Future,Text
0,SCT2023001,Male,17,Yes,Yes,Above 550,Yes,Target not detected (TND),No,Cough,No,No,Not to anyone,Somebody to share about our concerns.,We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...",They need to be friendly,Training programs that help to be healthy,I am confident that I can live a healthy life.,SCT2023001 Male 17 Yes Yes Above 550 Yes Targe...
1,SCT2023002,Male,17,Yes,Yes,450 to 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,No,Not to anyone,"Friends, who help us",We get help to be healthy and sustainable,"Yes, but I need more support, I think we need ...","I want them, to help us address our issues to ...",A Job without discrimination,I am confident that I can live a healthy life.,SCT2023002 Male 17 Yes Yes 450 to 550 Yes 0 a...
2,SCT2023003,Male,17,Yes,Yes,Above 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,Yes,Not to anyone,"Friends, who help us",We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...",They need to be friendly,Training programs that help to be healthy,I am not worried about HIV.,SCT2023003 Male 17 Yes Yes Above 550 Yes 0 and...
3,SCT2023004,Male,17,Yes,Yes,450 to 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,Yes,Not to anyone,Somebody to share about our concerns.,We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...","I want them, to help us address our issues to ...",Training programs that help to be healthy,I am not worried about HIV.,SCT2023004 Male 17 Yes Yes 450 to 550 Yes 0 a...
4,SCT2023005,Female,17,Yes,Yes,450 to 550,Yes,0 and less then 75 copies,No,"Cough, Weight Loss",No,Yes,Not to anyone,"Friends, who help us",We get help to be healthy and sustainable,"Yes, I understand HIV better and am able to de...",They need to be friendly,Training programs that help to be healthy,I am confident that I can live a healthy life.,SCT2023005 Female 17 Yes Yes 450 to 550 Yes 0...

In [7]:
df['Text'].to_csv('text added.csv', index=False)

In [8]:
df_text=pd.read_csv("text added.csv")

In [9]:
df_text

                                                  Text
0    SCT2023001 Male 17 Yes Yes Above 550 Yes Targe...
1    SCT2023002 Male 17 Yes Yes 450 to 550  Yes 0 a...
2    SCT2023003 Male 17 Yes Yes Above 550 Yes 0 and...
3    SCT2023004 Male 17 Yes Yes 450 to 550  Yes 0 a...
4    SCT2023005 Female 17 Yes Yes 450 to 550  Yes 0...
..                                                 ...
530  SCT2023531 Male 21 Yes Yes Above 550 Yes 400 t...
531  SCT2023532 Male 21 Yes Yes Above 550 Yes 400 t...
532  SCT2023533 Male 21 No Yes Above 550 Yes 400 to...
533  SCT2023534 Male 22 Yes Yes Above 550 Yes 400 t...
534  SCT2023535 Male 23 Yes Yes Above 550 Yes 400 t...

[535 rows x 1 columns]

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [11]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df_text['Text'])

# Step 3: Clustering
num_clusters = 5  # Number of desired clusters
kmeans = KMeans(n_clusters=num_clusters)
kmeans.fit(X)

# Step 4: Add cluster labels to DataFrame
df_text['Cluster'] = kmeans.labels_

# Step 5: Print DataFrame with cluster labels
df_text.head()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

                                                Text  Cluster
0  SCT2023001 Male 17 Yes Yes Above 550 Yes Targe...        1
1  SCT2023002 Male 17 Yes Yes 450 to 550  Yes 0 a...        0
2  SCT2023003 Male 17 Yes Yes Above 550 Yes 0 and...        1
3  SCT2023004 Male 17 Yes Yes 450 to 550  Yes 0 a...        0
4  SCT2023005 Female 17 Yes Yes 450 to 550  Yes 0...        1

In [12]:
unique_names = df_text['Cluster'].unique()

In [13]:
unique_names

array([1, 0, 2, 4, 3], dtype=int32)

In [14]:
mapping = {0: 'Very low funds required',
           1: 'low funds',
           2: 'normal',
           3: 'high funds',
          4:"very high requirment of funds"}

# Using replace() method
df_text['Cluster'] = df_text['Cluster'].replace(mapping)

In [15]:
df_text.head()

                                                Text                  Cluster
0  SCT2023001 Male 17 Yes Yes Above 550 Yes Targe...                low funds
1  SCT2023002 Male 17 Yes Yes 450 to 550  Yes 0 a...  Very low funds required
2  SCT2023003 Male 17 Yes Yes Above 550 Yes 0 and...                low funds
3  SCT2023004 Male 17 Yes Yes 450 to 550  Yes 0 a...  Very low funds required
4  SCT2023005 Female 17 Yes Yes 450 to 550  Yes 0...                low funds

In [16]:
df_text

,Text,Cluster
0,SCT2023001 Male 17 Yes Yes Above 550 Yes Targe...,low funds
1,SCT2023002 Male 17 Yes Yes 450 to 550 Yes 0 a...,Very low funds required
2,SCT2023003 Male 17 Yes Yes Above 550 Yes 0 and...,low funds
3,SCT2023004 Male 17 Yes Yes 450 to 550 Yes 0 a...,Very low funds required
4,SCT2023005 Female 17 Yes Yes 450 to 550 Yes 0...,low funds
...,...,...
530,SCT2023531 Male 21 Yes Yes Above 550 Yes 400 t...,high funds
531,SCT2023532 Male 21 Yes Yes Above 550 Yes 400 t...,high funds
532,SCT2023533 Male 21 No Yes Above 550 Yes 400 to...,high funds
533,SCT2023534 Male 22 Yes Yes Above 550 Yes 400 t...,high funds
534,SCT2023535 Male 23 Yes Yes Above 550 Yes 400 t...,high funds